<div class="list-group">

  <div  class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let journal of journals" >
    <div class="d-flex w-100 justify-content-between" (click)="journalProfile(journal)">
      <h5 class="mb-1" >{{journal.title}}</h5>
    </div>
    <div class="form-inline"><h6 > ISSN: </h6><p class="mb-1">{{ journal.issn}}</p></div>
    <div class="form-inline"><h6>Scientific field: </h6> <p class="mb-1">{{ journal.scientificField.name}}</p></div>
      <div class="form-inline"><h6>Price: </h6><p class="mb-1">{{ journal.price}}</p></div>

    <!--<span><a><img src="https://img.icons8.com/carbon-copy/100/000000/delete.png" width="30" height="30"></a></span>-->
  </div>
</div>
