<div class="list-group">
  <div  id="magazines">
    <h3>Magazines</h3>
    <br><br>
    <div *ngFor="let journal of journals"    class="list-group-item list-group-item-action flex-column align-items-start">
      <div  class="w-100 justify-content-between" (click)="journalProfile(journal['id'])">
        <div >
          <div class="d-flex w-80 justify-content-between">
            <h5 class="mb-2">{{journal['title']}}</h5>

          </div>
          <span>

              {{journal.scientificField.name}}
          </span>

          <p class="mb-2">ISSN number: {{journal['issn']}}</p>
        </div>
      </div>
          <button *ngIf="journal.openAccess === false && journal.paid === 'New' || journal.paid === 'Canceled' || journal.paid === '' " class="btn btn-primary pull-right" (click)="buyMagazine(journal['id'])">Buy</button>
          <button *ngIf="journal.openAccess === false" class="btn btn-primary pull-right"(click)="addSubscriptionTime(journal['id'])">Subscribe</button>


    </div>
  </div>
</div>

